<h1>{{parkName}}</h1>

<div class="col-sm-6">
  <p><strong>Location: </strong>{{location}}</p>

  <p><strong>Type of Park: </strong>{{typeOfPark}}</p>

  <p><strong>Fenced: </strong>{{fenced}}</p>

  <p><strong>Small Dog Section: </strong>{{smallDogSection}}</p>

  <p><strong>Water Available: </strong>{{waterAvailable}}</p>

  <p><strong>Size: </strong>{{size}}</p>

  <p><strong>Description: </strong>{{description}}</p>
</div>

<div class="col-md-6">
  <img src="http://www.animalaidclinicsouth.com/oldsite/less%20people.jpg" width='100%' alt="" />
</div>

<img src="https://maps.googleapis.com/maps/api/staticmap?center=45.5651,-122.6444&zoom=11&size=500x500">
